@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-retro-dark: #42220e;
  --color-retro-background: #c7a589;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }

  .border-thin {
    border: 3px solid rgba(0, 0, 0, 0.27);
  }

  .dotted {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 25%, transparent 20%),
    radial-gradient(rgba(0, 0, 0, 0.4) 25%, transparent 20%);
    background-position: 6px 6px, 6px, 0;
    background-size: 5px 5px;
  }

  .shortcut-focused {
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
  }

  .icon-overlay {
    filter: brightness(0) saturate(100%) sepia(1);
  }

}
